.dialogContainer{
    background-color: #343541;
    justify-content: end;
    flex-direction: row;
    align-items:end;
    display: flex;
    margin: auto;
    width: 30vw;
    height: 10vh;
    overflow: hidden;
    border-radius: 20px;
}
.imputPrompt{
    background-color: #343541;
    width: 28vw;
    height: 10vh;
    resize: none;
    border: none;
    padding: 20px;
}
.imputPrompt:focus{
    outline: none;
}
.inputPrompt::-webkit-scrollbar{
    display: none;
}
.sendButton{
    background-color: transparent;
    border: none;

    width: 2vw;
    height: 4vh;
}