.title{
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
    justify-content: center;
}
.Conversation{

    width: 80vw;
    height: 90vh;
    margin: auto;
    overflow-y: auto;

}
.Conversation::-webkit-scrollbar{
    display: none;
}
.Conversation2Msg{
    display: flex;

    flex-direction: column;
}
.rightMsg{

    display: flex;
    justify-content: end;
    padding-right: 15vw;
    margin-top: 20px;
}
.leftMsg{

    padding-left: 15vw;
    margin-top: 20px;
}

.HomeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.HomeFirst{
    width: 50vw;
    height: 40vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
}