.divMessage{
    background-color: #343541;
    width: 28vw;
    text-align: start;
    padding: 20px;
    height: auto;
    border-radius: 20px;

}
.aiMessage {
    max-width: 28vw; 
    overflow: hidden;
    overflow-x: auto; 
} 